body{
    display: flex;
     align-items: center;
    justify-content: center; 
    overflow: hidden;
    margin: 0;
     height: 100vh;
}
.container{
    display: flex;
    width: 80vw;
}
.panel{
 background-size: cover;
 background-repeat: no-repeat;
background-position: center;
height:70vh;
flex: 0.5;
margin: 10px;
cursor: pointer;
border-radius: 50px;
position: relative;
-webkit-transition: all 700ms ease-in; 
}
.panel.active{
    flex: 5;
}
@media(max-width:480px){
    .container{
        width: 100vw;
    }
     .panel:nth-of-type(4),
    .panel:nth-of-type(5){
       display:none;
    } 
    
}